.main {
  // margin-left: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4rem 6rem;

  &__tile {
    @include flexCenter(column, center, center);
    width: 22%;
    
    &--info {
      @include flexCenter(column, center, center);
      &__price {
        font-weight: bolder;
        
      }
    }
  }
}
